p {
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.delete {
  width: 38px;
  height: 38px;
}

.save {
  width: 90%;
  height: 38px;
  margin-left: 1em;
}

input[type="file"] {
  /* background-color: red; */
  border-radius: 10px;
  width: 100%;
  /* height: 2em; */
}
