::selection {
  color: white;
  background: #ec1e24;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #ec1e24;
}

.body {
  padding: 0;
  margin: 0;
  scroll-snap-type: y mandatory;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  place-items: center;
  overflow-x: hidden;
  /* background-color: #fffaec !important; */
  background-color: yellow;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* min-width: 1360px; */
  /* height: 100px; */
  padding: 1em;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1),
    0px -10px 10px 0px rgba(0, 0, 0, 0.1);
}

nav {
  width: 40%;
  min-width: 400px;
  max-width: 800px;
  height: 60px;
}

.header_logo {
  font-family: "Unbounded";
  font-size: 2em;
  font-weight: 800;
  /* width: 200px; */
  /* height: 60px; */
  /* flex-shrink: 0; */
  /* background-size: 100%; */
  /* background-position: 50%; */
  /* background-repeat: no-repeat; */
  /* background-image: url(../assets/images/landingPage.png); */

  padding: 0 0.5em;
  /* background-color: #ec1e24; */
  color: #0c0d0d;
}

.header_logo:hover {
  /* text-shadow: 5px 5px 2px #0c0d0d19; */
  color: #ec1e24;
  /* background-color: white; */
  /* border: 3px solid #ec1e24; */
  transition: 0.2s;
}

.header_ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  list-style: none;

  /* padding: 3em 1em 1em 1em; */
}

.header_ul a:hover {
  /* border-bottom: 2px solid #ec1e24; */
  background-color: red;
  padding: 3em 1em 2em 1em;
  transition: 0.2s;
  color: #ffffff;
  transition: 0.2s;
}

.header_ul a {
  color: #0c0d0d;
  text-decoration: none;
  padding: 3em 1em 1em 1em;
  font-weight: 500;
}

.merchant_button {
  width: 100px;
  height: 40px;
  /* margin-left: 30px; */
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #ec1e24;
  font-weight: 900;
  box-shadow: 0px 5px 0px 0px #b10000;
}

.merchant_button:hover {
  /* background-color: #e6e7e8; */
  /* color: #0c0d0d; */
  transition: 0.2s;
  box-shadow: 0 0px 0px 0px #b10000;
  transform: translateY(5px);
}

header :last-child {
  margin-left: 2px;
}

.segment_one {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 60em; */
  /* height: 100vh; */
  /* min-height: 70vh; */
  padding-top: 4em;
  scroll-snap-align: center;
  position: relative;
  margin: auto;
  gap: -2em;
  justify-content: center;
}

.segment_two {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 100vh; */
  /* width: 100%; */
  /* min-height: 85vh; */
  padding: 2em 0;
  position: relative;
  margin: auto;
  gap: -2em;
  /* background-color: pink; */
  justify-content: center;
}

/* .segment_one p,
.segment_two p {
  width: 800px;
  text-align: center;
} */

.image_one {
  /*position: relative; */
  /* left: 58em; */
  /* top: 20em; */
  width: 387px;
  height: 650px;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/src/assets/images/landingPage.png");
  /* background-position: 50em center; */
  animation: landingPage_bounce 5s ease-in-out 0s 3 alternate both;
  /* margin-left: 11em;*/
}

.image_two {
  /* position: relative; */
  /* left: 20em; */
  /* top:  20em; */
  width: 387px;
  height: 650px;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
  /* box-shadow: 0 0 8px 8px, rgba(245, 188, 185, 0.5) inset; */
  background-image: url("/src/assets/images/landingPage2.png");
  /* background-position: 10em center; */
  animation: landingPage_bounce 7s ease-in-out 1s 2 alternate both;
  rotate: 335deg;
}

.landing_page_text {
  font-family: "Unbounded";
  /* position: relative; */
  /* left: 30em; */
  /* bottom: 10em; */
  text-align: left;
  /* width: 440px; */
  border-left: 15px solid red;
  padding-left: 2em;
}

.landing_page2_text {
  font-family: "Unbounded";
  /* position: relative; */
  left: 60em;
  /* width: 440px; */
  /* top: 10em; */
  text-align: right;
  border-right: 15px solid red;
  padding-right: 2em;
}
.landing_page2_text h1 {
  font-size: 4em;
  font-weight: 900 !important;
  line-height: 1em;
}

.landing_page2_text p {
  font-size: 1.2em;
  font-weight: 400 !important;
  /* line-height: 1em; */
  margin-bottom: 0;
}

.landing_page_text h1 {
  font-size: 4em;
  font-weight: 900 !important;
  line-height: 1em;
}

.landing_page_text p {
  font-size: 1.2em;
  font-weight: 400 !important;
  /* line-height: 1em; */
  margin-bottom: 0;
}

/*footer*/

.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* min-width: 1360px; */
  /* min-height: 200px; */
  padding-top: 5em;
  place-items: center;
  gap: 40px;
  border-top: 2px solid #e6e7e8;
  /* background-color: #f7f7f7; */
  background-color: #efefef;
  box-shadow: 0px 18px 20px 0px rgba(0, 0, 0, 0.1),
    0px 10px 20px 15px rgba(0, 0, 0, 0.1);
}

.footer_links {
  display: flex;
  flex-direction: row;
  min-width: 1000px;
  gap: 40px;
  /* font-size: 14px; */
}

.footer_titles {
  font-size: 20px;
  font-weight: bold;
}

.footer_ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer_ul a {
  cursor: pointer;
  /* background-color: red; */
  color: rgb(179, 179, 179);
  text-decoration: none;
}

.footer_ul a:hover {
  /* background-color: red; */
  color: red;
}

.footer_logo {
  /* width: 200px; */
  /* height: 60px; */
  font-family: "Unbounded";
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  /* background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(../assets/images/Branded.png); */
  height: 1.5em;
  padding: 0 0.5em;
  background-color: #0c0d0d;
  color: #ec1e24;
}

.footer_logo:hover {
  color: #e6e7e8;
}

.footer_container {
  /* background-color: red; */
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  /* margin-left: -10px; */
  gap: 1em;
}

.icons div {
  filter: grayscale(100%);
}

.icons div:hover {
  filter: grayscale(0%);
}

.icons div {
  width: 2em;
  height: 2em;
  background-size: contain;
  /* background-position: 50%; */
  /* background-repeat: no-repeat;*/
}

.fb {
  /* border-radius: 30px; */
  background-image: url(../assets/images/2.png);
}

.yt {
  background-image: url(../assets/images/3.png);
  /* border-radius: none; */
}

.in {
  /* border-radius: none; */
  background-image: url(../assets/images/6.png);
}

.tilt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 85px;
}

.tilt .shape-fill {
  fill: #1a73cb;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  line-height: 1em;
  background-color: rgb(51, 51, 51);
  width: 100vw;
  height: 10em;
  padding: 1em;
}

@keyframes landingPage_bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

/* MACBOOK */
@media only screen and (max-width: 1440px) {
  /* body {
    background-color: yellow;
  } */

  .image_one {
    left: 42em;
  }

  .landing_page_text {
    left: 20em;
    width: 370px;
  }

  .image_two {
    left: 10em;
  }

  .landing_page2_text {
    left: 40em;
  }
}

/* IPAD */
@media only screen and (max-width: 768px) {
  /* body {
    background-color: green;
  } */

  header {
    display: flex;
    /* min-width: unset; */
    /* width: 100vw; */
    justify-content: center;
    /* padding: 0px 235px; */
    font-size: small;
    /* text-align: center;*/
  }

  /* .merchant_button {
    width: 80px;
    height: 30px;
  } */

  .landing_page_text {
    left: 5em;
    /* font-size: small;*/
    width: 270px;
  }

  .landing_page_text h1 {
    font-size: 3em;
    line-height: 0.9em;
  }

  .landing_page_text p {
    font-size: 0.9em;

    /* line-height: 1em; */
  }

  .image_one {
    left: 21em;
    height: 95vw;
  }

  .landing_page2_text {
    font-size: x-small;
    right: 10em;
  }

  .image_two {
    left: 0em;
    /* height: 95vw; */
  }

  .segment_two {
    padding: 5em 0;
  }

  .footer_links {
    text-align: center;
    flex-direction: column;
    min-width: unset;
  }

  .footer_ul {
    padding-left: 0px;
  }

  .icons {
    display: flex;
    flex-direction: row;
    /* margin-left: -10px; */
    gap: 1em;
    justify-content: center;
  }
}

/* IPHONE12 */
@media only screen and (max-width: 390px) {
  /* body {
    background-color: red;
  } */

  .header_logo {
    text-align: center;
    font-size: xx-large;
  }

  header {
    visibility: hidden;
  }

  header {
    min-width: unset;
    background: green;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    /* left: 1em; */
    /* float: right; */
    flex-direction: column;
    padding: 2em 0;
    display: flex;
    align-items: center;
    right: 0px;
    border: 10px solid red;
    justify-content: flex-start;
  }

  .header_ul {
    /* flex-direction: column; */
    padding: 0;
    display: unset;
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    /* height: 100%; */
  }
  .header_ul a {
    padding: 0;
  }

  .header_ul a:hover {
    /* border-bottom: 2px solid #ec1e24; */
    background-color: red;
    padding: 0.4em 5em;
    /* transition: 0.2s; */
    color: #e6e7e8;
  }

  header :last-child {
    margin-left: 0;
  }

  /* .header_ul li {
    margin: 0 1em;
  } */

  nav {
    min-width: unset;
    max-width: unset;
    height: 50%;
    width: 100%;
  }

  .image_one {
    top: 0;
    left: 0px;
    width: 50%;
  }

  .landing_page_text {
    left: 0px;
    right: 0px;
    /* bottom: 0px; */
  }

  .landing_page_text h1 {
    font-size: 2em;
    line-height: 0.8em;
  }

  .image_two {
    left: 0px;
    top: 0px;
    width: 80vw;
  }

  .landing_page2_text {
    left: 0;
    top: 0;
    right: 0px;
    bottom: 0px;
    /* width: 300px; */
    /* position: relative; */
  }

  .landing_page2_text h1 {
    font-size: 2.5em;
    line-height: 0.9em;
  }

  .segment_one {
    border: 10px solid green;
    width: 100vw;
    position: relative;
  }

  .segment_two {
    padding: 0em;
    border: 10px solid red;
    width: 100vw;
  }

  /* .footer {
    width: 100vw;
    text-align: center;
  } */

  .footer_links {
    flex-direction: column;
    min-width: unset;
  }

  .footer_logo {
    /* width: 240px; */
    margin: auto;
  }

  .footer_ul {
    text-align: center;
  }

  .icons {
    justify-content: center;
  }
}

.socials_container {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-top: 4em;
  scroll-snap-align: center;
  position: relative;
  margin: auto;
  gap: -2em;
  justify-content: center;
}

.socials {
  background-image: url("../assets/images/socials_logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
}

.socials_container p {
  font-family: Unbounded;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0;
  /* z-index: 1; */
  position: absolute;
  top: 2em;
}
/* /// */

.platform {
  display: flex;
  align-items: center;
  padding: 2em 4em;
  scroll-snap-align: center;
  position: relative;
  margin: auto;
  gap: -2em;
  justify-content: center;
  background: rgb(255, 248, 248);
  background: linear-gradient(
    130deg,
    rgba(255, 248, 248, 1) 0%,
    rgba(255, 229, 229, 1) 100%
  );
  flex-direction: column;
  font-weight: 600;
  /* font-size: large; */
  height: 36em;
}
.platform li {
  /* display: flex; */
  list-style: none;
}

.platform p {
  font-family: Unbounded;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0;
  /* z-index: 1; */
  /* position: absolute; */
  /* top: 2em; */
  text-align: center;
  width: 26em;
  line-height: 1em;
}

.platform_left {
  /* display: flex; */
  width: 20em;
  border: 3px solid transparent;
  height: 9em;
  padding: 1em;
  border-radius: 20px;
  font-size: larger;
  background-color: white;
  box-shadow: 0px 2px 20px 0px #dfdfdfbd;
}
.platform_left:hover {
  border: 3px solid red;
}

.platform_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.platform_center {
  display: flex;
  gap: 4em;
  margin-top: 4em;
  width: 50em;
  justify-content: center;
}

.platform button {
  width: 10em;
  height: 2.5em;
}

label {
  /* background-color: red; */
  text-align: left;
}

/* // */

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  background-color: rgb(0 0 0);
  /* margin: auto;*/

  /* -webkit-animation: fade-out-bck 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
  animation: fade-out-bck 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) both; */
}

.loader img {
  height: 2em;
  width: 2em;
}

img svg {
  fill: yellow;
}

@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}
@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}
